{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }} | Oceanico Sushi Bar{% endblock %}

{% block content %}
<section class="blog-detail">
    <div class="container">
        <article class="blog-post">
            <h2>{{ post.title }}</h2>
            <div class="post-content">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-image">
                {% endif %}
                {{ post.content|linebreaks }}
            </div>
        </article>
        <a href="{% url 'blog:blog_list' %}" class="btn">Back to Blog</a>
    </div>
</section>
{% endblock %}
